body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-style-none {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: inherit;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button-theme_red {
  color: #ffffff;

  background-color: #ee3643;
}

.button-theme_red:hover {
  background-color: #ca2c37;
}

.button-theme_red:active {
  background-color: #ba2732;
}

/*------------------Header------------------*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;

  background-color: #f4f8f9;
}

.header-top-wrapper {
  margin-bottom: 46px;

  background-color: #293449;
}

.header-top-container {
  display: flex;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;

  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-logo[href="index.html"]:hover {
  background-color: #ca2c37;
}

.main-logo[href="index.html"]:active {
  background-color: #ba2732;
}

.main-logo_header {
  height: 42px;
}

.main-logo_footer {
  height: 63px;

  font-size: 30px;
  line-height: 30px;
}

.search-form {
  position: relative;

  display: flex;
  flex-grow: 1;
}

.search-form__svg {
  position: absolute;
  left: 17px;
  top: 12px;

  opacity: 0.3;
}

.search-form__input {
  width: 100%;
  padding-top: 11px;
  padding-right: 0;
  padding-bottom: 11px;
  padding-left: 49px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search-form__input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form__input::-moz-placeholder {
  color: #ffffff;
}

.search-form__input:focus {
  color: #000000;

  background-color: #ffffff;
}

/*input[type="search"]:hover .svg path*/

.search-form__input:hover + .search-form__svg,
.search-form__input:focus + .search-form__svg {
  opacity: 1;
}

.search-form__input:focus + .search-form__svg path {
  fill: #ee3643;
}

.bookmarks {
  position: relative;

  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 44px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.bookmarks::before {
  content: "";

  position: absolute;
  left: 17px;
  top: 12px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-bookmarks.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks:hover {
  background-color: #212a3a;
}

.bookmarks:active {
  background-color: #161d29;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.5;
}


/*Отвечает за наполнение*/
.bookmarks_full {
  background-color: #ee3643;
}

.bookmarks_full:hover {
  background-color: #ee3643;
}

.bookmarks_full:active {
  background-color: #ba2732;
}

.basket {
  position: relative;

  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 50px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.basket::before {
  content: "";

  position: absolute;
  left: 18px;
  top: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket:hover {
  background-color: #212a3a;
}

.basket:active {
  background-color: #161d29;
}

.basket:hover::before {
  opacity: 1;
}

.basket:active::before {
  opacity: 0.5;
}

/*Отвечает за наполнение*/
.basket_full {
  padding-right: 25px;

  background-color: #ee3643;
}

.basket_full:hover {
  background-color: #ee3643;
}

.basket_full:active {
  background-color: #ba2732;
}

.checkout {
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 20px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-middle-wrapper {
  display: flex;
  margin-bottom: 39px;
}

.main-title {
  flex-basis: 250px;
  margin-top: 3px;
  margin-bottom: 0;
  margin-left: 53px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.adress-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  margin-left: 17px;
}

.phone-number {
  position: relative;

  padding-top: 10px;
  padding-right: 42px;
  padding-bottom: 8px;
  padding-left: 71px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  background-color: #f4f8f9;
  border: 3px solid #ffffff;
}

.phone-number::before {
  content: "";

  position: absolute;
  left: 12px;
  top: 10px;

  width: 19px;
  height: 19px;

  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.phone-number:hover {
  border-color: #212a3a;
}

.phone-number:active {
  border-color: #161d29;
}

.header-adress {
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-auth {
  display: flex;
  margin-left: auto;
}

.user-auth__item {
  margin-left: 10px;
}

.user-auth_logined-user {
  flex-direction: column;
}

.user-auth-logined {
  position: relative;

  display: flex;
  margin-top: 9px;
}

.user-auth-logined::after {
  content: "";

  position: absolute;
  left: 107px;
  top: 7px;

  border: 2px solid #32425c;
  border-radius: 50%;
}

.user-auth-logined__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-auth-logined__link:hover {
  color: #ee3643;
}

.user-auth-logined__link:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-auth-logined__link_my-offer {
  margin-right: 32px;
  margin-left: 17px;
}

.user-auth__button {
  display: flex;
  padding-top: 12px;
  padding-bottom: 10px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-auth__button_active-hover:hover {
  color: #ee3643;
}

.user-auth__button_active-hover:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-auth__button_logined-user {
  position: relative;

  padding-right: 68px;
  padding-left: 45px;
}

.user-auth__button_logined-user:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-auth__svg {
  position: absolute;
}

.user-auth__svg_user-icon {
  left: 13px;
  top: 13px;
}

.user-auth__svg_logout-icon {
  right: 10px;
  top: 14px;
}

.user-auth__button_logined-user:hover path {
  fill: #32425c;
}

.user-auth__button_logined-user:active path {
  fill: #c5c5c5;
}

.user-auth__button_login {
  position: relative;

  padding-right: 25px;
  padding-left: 48px;
}

.user-auth__svg_login-icon {
  top: 14px;
  left: 14px;
}

.user-auth__button_login:hover path {
  fill: #32425c;
}

.user-auth__button_login:active path {
  fill: #c5c5c5;
}

.user-auth__button_registration {
  padding-right: 24px;
  padding-left: 25px;
}

.main-nav-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding-right: 22px;
  padding-left: 22px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav-header__item {
  flex-grow: 1;
}

.main-nav-header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 22px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-nav-header__link:hover {
  background-color: #293449;
}

.main-nav-header__link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}


/*------------------Main------------------*/

/*CATALOG*/

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.breadcrumbs__link {
  position: relative;

  display: flex;
  margin-right: 40px;

  font-family: "Pt Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs__link_home {
  width: 18px;
  height: 18px;

  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.breadcrumbs__link[href]::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -21px;

  width: 8px;
  height: 12px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*catalog-header*/

.catalog-header {
  display: flex;
  align-items: center;
  min-height: 89px;
  width: 100%;

  background-color: #f4f8f9;
}

.catalog-header__title {
  margin: 0;
  margin-left: 29px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

/*main-content*/

.main-index {
  padding-top: 59px;
}

.main-content-wrapper {
  display: flex;
  margin-top: 20px;

  font-family: "Pt Sans", "Arial", sans-serif;
}

.main-content-wrapper-left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 220px;
}

.filter {
  text-transform: uppercase;
}

.filter__title-wrapper {
  display: flex;
  align-items: center;
  min-height: 38px;
  margin-bottom: 10px;
  padding-left: 19px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.filter__title {
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.form-border {
  margin: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form-category {
  margin: 0;
  padding: 0;

  border: none;
}

.form-category_price {
  margin-bottom: 25px;
}

.form-category__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.price-controls {
  position: relative;

  width: 100%;
  height: 80px;
  margin-top: 14px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.price-controls__scale {
  position: absolute;
  top: 39px;
  left: 20px;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.price-controls__bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 151px;
  height: 2px;

  background-color: #00ca74;
}

.price-controls__button {
  position: absolute;
  top: 29px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #e0ddd8;

  cursor: pointer;
}

.price-controls__button::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;
}

.price-controls__button_min {
  left: 20px;
}

.price-controls__button_max {
  right: 40px;
}

.price-inputs {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.price-inputs::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.price-inputs__input {
  text-align: center;
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 4px;
}

.form-category_manufacturers {
  margin-top: 16px;
  margin-bottom: 10px;
}

.manufacturers-list {
  margin-top: -5px;
  margin-bottom: 11px;
}

.filter-option {
  margin-top: 20px;
}

.filter-option-checkbox__description {
  position: relative;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  cursor: pointer;
}

.filter-option-checkbox__description::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;
  box-sizing: border-box;

  border: 2px solid #c5c5c5;
  border-radius: 4px;
}

.filter-option-checkbox__svg {
  display: none;

  position: absolute;
  top: -2px;
  left: 0;

  background-color: #ffffff;
}

.filter-option__checkbox:checked + .filter-option-checkbox__description .filter-option-checkbox__svg {
  display: block;
}

.filter-option__checkbox:disabled + .filter-option-checkbox__description path {
  fill: rgba(181, 181, 181, 0.3);
}

.filter-option__checkbox:disabled + .filter-option-checkbox__description::before {
  border-color: rgba(181, 181, 181, 0.3);
}

.filter-option__checkbox:disabled + .filter-option-checkbox__description {
  color: rgba(181, 181, 181, 0.3);
}

.filter-option-checkbox__description:hover::before {
  border-color: #b5b5b5;
}

.filter-option-checkbox__description:hover path {
  fill: #b5b5b5;
}

.form-category_power {
  margin-top: 17px;
  margin-bottom: 78px;
}

.power-list {
  margin-top: -6px;
}

.filter-option-radio__description {
  position: relative;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  cursor: pointer;
}

.filter-option-radio__description::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 25px;
  height: 25px;
  box-sizing: border-box;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-option__radio:checked + .filter-option-radio__description::after {
  content: "";

  position: absolute;
  left: 8px;
  top: 6px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-option-radio__description:hover::before {
  border-color: #b5b5b5;
}

.filter-option__radio:checked + .filter-option-radio__description:hover::after {
  background-color: #b5b5b5;
}

.filter-option__radio:disabled + .filter-option-radio__description::before {
  border-color: rgba(181, 181, 181, 0.3);
}

.filter-option__radio:disabled + .filter-option-radio__description::after {
  background-color: rgba(181, 181, 181, 0.3);
}

.filter-option__radio:disabled + .filter-option-radio__description {
  color: rgba(181, 181, 181, 0.3);
}

.filter-button {
  box-sizing: border-box;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 13px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.filter-button:hover {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

.main-content-wrapper-right {
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  align-items: center;
  min-height: 38px;
  margin-bottom: 20px;
  padding-right: 17px;
  padding-left: 19px;

  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.sort__title {
  margin: 0;
  margin-right: 140px;

  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}

.sort__link {
  margin-left: 65px;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort__title + .sort__link {
  margin-right: auto;
  margin-left: 0;
}

.sort__direction {
  margin-left: 21px;
}

.sort__link + .sort__direction {
  margin-left: 46px;
}

.sort__direction:hover path {
  fill: #231f20;
}

.sort__direction:active path {
  fill: #ee3643;
}

.sort__direction_active path {
  fill: #ee3643;
}

.sort__link:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sort__link:active {
  color: #ee3643;

  border: none;
}

.sort__link_active {
  color: #ee3643;

  border: none;
}

.catalog-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

/*advantages*/

.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}

.advantages-list-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.advantages-items {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 123px;
  padding: 20px;
  box-sizing: border-box;
}

.advantages-items__title {
  margin: 0;
  margin-top: 1px;
  margin-left: 2px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.advantages-items__button {
  min-width: 135px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: 4px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.advantages-items__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.advantages-items__button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/svg/materials.svg");
  background-repeat: no-repeat;
  background-position: 212px, 50%;
}

.instruments {
  background-color: #3bbce3;
  background-image: url("../img/svg/instruments.svg");
  background-repeat: no-repeat;
  background-position: 198px, 50%;
}

.equipment {
  background-color: #dc91d8;
  background-image: url("../img/svg/equipment.svg");
  background-repeat: no-repeat;
  background-position: 191px, 50%;
}

.discounts {
  margin-bottom: 20px;

  background-color: #8ed78f;
  background-image: url("../img/svg/discounts.svg");
  background-repeat: no-repeat;
  background-position: 196px, 50%;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;
  background-position: 191px, 50%;
}

.advantages-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages-slider {
  position: relative;
}

.arrows-button {
  position: absolute;
  top: 121px;

  width: 28px;
  height: 28px;

  background: none;
  border: none;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;

  cursor: pointer;
}

.arrows-button_left {
  left: 30px;

  transform: rotate(-135deg);
}

.arrows-button_right {
  right: 25px;

  transform: rotate(45deg);
}

.radio_button {
  position: absolute;
  bottom: 36px;
  left: 285px;

  display: flex;
}

.radio-controls {
  position: relative;

  width: 10px;
  height: 10px;
  margin-left: 10px;

  background-color: #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.radio-controls::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 2px;

  display: none;
  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

.first-slide:checked ~ .radio_button .radio-controls_left::after {
  display: block;
}

.second-slide:checked ~ .radio_button .radio-controls_right::after {
  display: block;
}

.first-slide:checked ~ .slide_perforators {
  display: flex;
}

.second-slide:checked ~ .slide_drills {
  display: flex;
}

.slide {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: 620px;
  min-height: 266px;
  padding: 23px 25px;

  color: #ffffff;
}

.slide_drills {
  background-image: url("../img/slide-drills.jpg");
  background-size: cover;
}

.slide_perforators {
  background-image: url("../img/slide-perforators.jpg");
  background-size: cover;
}

.slide__title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide__text {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slide__button {
  min-width: 195px;
  margin-top: auto;
}

/*popular-goods*/

.popular-goods {
  display: flex;
  flex-direction: column;
}

.header-popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 89px;
  padding-right: 24px;
  padding-left: 29px;

  background-color: #f9f5f0;
}

.header-popular__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.header-popular__button {
  min-width: 253px;
}

.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
/*  margin-bottom: 1px;*/
  margin-left: -20px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;
  margin-bottom: 20px;
  margin-left: 20px;

  font-family: "Pt Sans", "Arial", sans-serif;
  font-weight: 700;

  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item__buttons-wrapper {
  z-index: 1;

  display: flex;

  background-color: #ffffff;
}

.new-item {
  position: relative;
  overflow: hidden;
}

.new-item::before {
  content: 'new';

  position: absolute;
  right: -24px;
  top: 6px;
  z-index: 2;

  display: block;
  width: 90px;
  height: 27px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  color: white;

  background-color: #ee3643;

  transform: rotate(45deg);
}

.catalog-item__buttons-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  width: 100%;
  padding-top: 43px;
  padding-bottom: 43px;
}

.catalog-item__button {
  margin-right: auto;
  margin-left: auto;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.catalog-item__button_buy {
  position: relative;
  padding-right: 45px;
  padding-left: 49px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.catalog-item__button_buy::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.catalog-item__button_buy:hover::before,
.catalog-item__button_buy:active::before {
  opacity: 1;
}

.catalog-item__button_buy:hover {
  background-color: #5fbb2d;
}

.catalog-item__button_buy:active {
  background-color: #518534;
  box-shadow: none;
}

.catalog-item__button_bookmarks {
  padding-top: 8px;
  padding-right: 29px;
  padding-bottom: 6px;
  padding-left: 33px;
  margin-top: 8px;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-item__button_bookmarks:hover {
  border-color: #32425c;
}

.catalog-item__button_bookmarks:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.catalog-item__title {
  width: 190px;
  margin: 0;
  margin-top: 10px;


  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.catalog-item__price {
  position: relative;

  min-width: 141px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 4px;
}

.catalog-item__price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item__old-price {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-align: center;
  color: #a9a9a9;
}

/*popular-manufacturers*/

.popular-manufacturers {
  display: flex;
  flex-direction: column;
}

.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-left: -20px;
}

.popular-manufacturers__item {
  margin-bottom: 20px;
  margin-left: 20px;
}

.popular-manufacturers__link {
  display: flex;
  box-sizing: border-box;
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

.popular-manufacturers__link:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers__link:active {
  border-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers__link:active .popular-manufacturers__img {
  opacity: 0.3;
}

.popular-manufacturers__img {
  margin: auto;
}

/*services*/

.cuprum-large {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.pt-sans-small {
  margin: 0;

  font-family: "Pt Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 78px;

  background-color: #f4f8f9;
}

.services-header {
  margin-top: 65px;
  margin-bottom: 70px;
}

.services-header__title {
  margin-bottom: 26px;
}

.services-header__text {
  width: 400px;
}

.services-bottom {
  display: flex;
  margin-bottom: 98px;
}

.services-list {
  position: relative;

  display: flex;
  flex-direction: column;
}

.services-list::before {
  content: "";

  position: absolute;
  top: -45px;
  left: 230px;

  width: 10px;
  height: 272px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item {
  min-width: 240px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.services-item_label {
  display: flex;
  min-height: 60px;
  padding-left: 23px;

  cursor: pointer;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  align-items: center;
}

.delivery-input:checked ~ .services-list .services-item_delivery,
.warranty-input:checked ~ .services-list .services-item_warranty,
.credit-input:checked ~ .services-list .services-item_credit {
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.delivery-input:not(:checked) ~ .services-list .services-item_delivery:hover,
.warranty-input:not(:checked) ~ .services-list .services-item_warranty:hover,
.credit-input:not(:checked) ~ .services-list .services-item_credit:hover {
  background-color: #293449;
}

.delivery-input:checked ~ .services-bottom-slider .services-slide_delivery,
.warranty-input:checked ~ .services-bottom-slider .services-slide_warranty,
.credit-input:checked ~ .services-bottom-slider .services-slide_credit {
  display: flex;
}

.services-bottom-slider {
  margin-left: 80px;
}

.services-slide {
  flex-direction: column;
  align-items: flex-start;
  width: 380px;
}

.services-slide_delivery {
  position: relative;

  display: none;
}

.services-slide_delivery::after {
  content: "";

  position: absolute;
  top: 22px;
  left: 151px;

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide_warranty {
  position: relative;

  display: none;
}

.services-slide_warranty::after {
  content: "";

  position: absolute;
  top: 0;
  left: 239px;

  width: 389px;
  height: 283px;

  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide_credit {
  position: relative;

  display: none;
}

.services-slide_credit::after {
  content: "";

  position: absolute;
  top: -2px;
  left: 165px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide__title {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 26px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.services-slide__button {
  min-width: 195px;
  margin-top: 25px;
}

/*company-contaсts*/

.company-contaсts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 86px;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 520px;
}

.company__text {
  margin-top: 27px;
  margin-bottom: -5px;
}

.transport-companies-list {
  margin-top: 6px;
}

.transport-companies-item {
  position: relative;

  margin-top: 20px;
  padding-left: 35px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.transport-companies-item::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.company__button {
  margin-top: 37px;
  min-width: 220px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contacts__text {
  width: 280px;
  margin-top: 27px;
}

.contacts__map {
  margin-top: 30px;
}

.contacts__button {
  margin-top: auto;
}

/*pagination-about*/

.pagination-list {
  display: flex;
  margin-top: 31px;
  margin-bottom: 60px;

  font-family: "Pt Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-height: 36px;
  min-width: 36px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.pagination__link:hover {
  border-color: #bdc6ca;
}

.pagination__link:active {
  border-color: #ee3643;
}

.pagination__link_active {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination__link_large {
  min-width: 138px;
}

/*CATALOG-about*/

.about-wrapper {
  background-color: #f4f8f9;
}

.about {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-top: 65px;
  margin-bottom: 27px;
}

.about__text {
  margin-bottom: 67px;
}

/*MODAL*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);

  display: none;
}

.modal-display {
  display: flex;
}

.modal-cart {
  flex-direction: column;
  min-width: 620px;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-cart__icon {
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;

  background-color: #63a63e;
  border-radius: 50%;
}

.modal-cart__icon::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 24px;

  width: 20px;
  height: 34px;
  box-sizing: border-box;

  border-right: 7px solid #ffffff;
  border-bottom: 7px solid #ffffff;

  transform: rotate(45deg);
}

.modal-cart__title {
  margin-top: 65px;
  margin-bottom: 69px;
  margin-left: 179px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-cart-bottom-wrapper {
  display: flex;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f4f4f4;
}

.modal-cart__button {
  padding-left: 0;
  padding-right: 0;

  color: #000000;

  background-color: #ffffff;
}

.modal-cart__button:hover {
  color: #ee3643;
}

.modal-cart__button:active {
  color: rgba(50, 66, 92, 0.3);
}

.modal_map {
  width: 940px;
  height: 446px;

  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

.modal_write-us {
  flex-direction: column;
  box-sizing: border-box;
  min-width: 620px;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-button-close {
  position: absolute;
  top: 7px;
  right: 7px;

  width: 27px;
  height: 27px;
  padding: 0;

  border: none;
  background: none;

  cursor: pointer;
}

.modal-button-close::before {
  content: "";

  position: absolute;
  top: 0;
  left: 11px;

  width: 5px;
  height: 27px;

  background-color: #ee3643;

  transform: rotate(45deg);
}

.modal-button-close::after {
  content: "";

  position: absolute;
  top: 0;
  left: 11px;

  width: 5px;
  height: 27px;

  background-color: #ee3643;

  transform: rotate(-45deg);
}

.form-top-wrapper {
  display: flex;
  margin-top: 46px;
  margin-bottom: 20px;
  padding-right: 80px;
  padding-left: 80px;
}

.form-label {
  display: flex;
  flex-direction: column;
  width: 100%;

  font-size: 18px;
  line-height: 18px;
}

.margin-right {
  margin-right: 20px;
}

.form-input {
  margin-top: 10px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;

  font-family: "Pt Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 4px;
}

.form-input::-webkit-input-placeholder {
  color: #a9a9a9;
}

.form-input::-moz-placeholder {
  color: #a9a9a9;
}

.form-input:hover {
  border-color: #b5b5b5;
}

.form-input:focus {
  border-color: #ee3643;
}

.form-middle-wrapper {
  padding-right: 80px;
  padding-left: 80px;
  margin-bottom: 39px;
}

.form-bottom-wrapper {
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f4f4f4;
}

.form-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*------------------Footer------------------*/

.main-footer {
  display: flex;
  flex-direction: column;

  background-color: #32425c;
}

.main-footer-top {
  display: flex;

}

.main-nav-footer {
  display: flex;
  margin-top: 38px;
  margin-left: auto;
}

.main-nav-footer__item {
  margin-left: 59px;
}

.main-nav-footer__link {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-nav-footer__link:hover {
  text-decoration: underline;
}

.main-nav-footer__link:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.main-footer-middle {
  display: flex;
  margin-top: 30px;
  margin-bottom: 49px;
}

.footer-adress {
  margin: 0;
  margin-top: 3px;
  margin-left: 3px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-range-footer {
  display: flex;
  margin-top: 3px;
  margin-left: auto;
}

.main-range-footer__item {
  margin-left: 56px;
}

.main-range-footer__link {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.main-range-footer__link:hover {
  text-decoration: underline;
}

.main-range-footer__link:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-wrapper {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.main-footer-bottom {
  display: flex;
  align-items: center;
  min-height: 107px;
}

.footer-rights {
  margin: 0;
  margin-top: 3px;
  margin-left: 1px;

  color: #ffffff;
}

.footer-social {
  display: flex;
  margin-top: 5px;
  margin-left: 155px;
}

.footer-social__button {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 5px;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social__button:hover,
.footer-social__button:active {
  background-color: #ee3643;
}

.footer-social__button_vkontakte {
  background-image: url("../img/svg/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-social__button_facebook {
  background-image: url("../img/svg/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-social__button_instagram {
  background-image: url("../img/svg/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-feedback {
  margin: 0;
  margin-top: 3px;
  margin-left: auto;
  width: 140px;

  color: #ffffff;
}

.footer-feedback__link {
  color: #ffd180;
}

.footer-feedback__link:hover {
  text-decoration: underline;
}

.footer-feedback__link:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-copyright {
  margin: 0;
  margin-top: 3px;
  margin-left: 49px;
  width: 110px;

  color: #ffffff;
}

.footer-copyright__link {
  color: #ffd180;
}

.footer-copyright__link:hover {
  text-decoration: underline;
}

.footer-copyright__link:active {
  color: #ee3643;
  text-decoration: none;
}
