body {
  max-width: 1200px;
  margin: auto;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list-style-none {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  display: none;
}

.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button_theme_red {
  color: #ffffff;

  background-color: #ee3643;
}

.button_theme_red:hover {
  background-color: #ca2c37;
}

.button_theme_red:active {
  background-color: #ba2732;
}

/*------------------Header------------------*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.display-flex {
  display: flex;
}

.header {
  margin-bottom: 60px;

  background-color: #f4f8f9;
}

.header-nav {
  display: flex;
  flex-direction: column;
}

.header-nav-top-wrapper {
  margin-bottom: 45px;

  background-color: #293449;
}

.search-form {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.search-form__input {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.bookmarks {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.basket {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.checkout {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.header-nav-middle-wrapper {
  display: flex;
  margin-bottom: 45px;
}

.main-title {
  width: 200px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 50px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.adress-wrapper {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-left: 70px;
}

.phone-number-wrapper {
  display: flex;

  background-color: #f4f8f9;
  border: 3px solid #ffffff;
}

.phone-number {
  margin: auto;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.adress {
  margin-right: auto;
  margin-left: auto;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-auth {
  margin-left: auto;
}

.user-auth__button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-auth__button_registration {
  margin-left: 10px;
}

.main-nav-list {
  display: flex;
  margin-bottom: 60px;
}

.main-nav-list__link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}


/*------------------Main------------------*/

/*advantages*/

.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}

.advantages-list-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.advantages-items {
  min-width: 300px;
  min-height: 125px;
}

.advantages-items__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.advantages-items__button {
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.materials {
  background-color: #ffbf47;
}

.instruments {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.discounts {
  margin-bottom: 20px;

  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.advantages-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.slide {
  min-width: 620px;
  min-height: 270px;

  color: #ffffff;
}

.slider-1 {
  background-image: url("../img/slider-1.jpg");
  background-size: cover;
}

.slider-2 {
  background-image: url("../img/slider-2.jpg");
  background-size: cover;
}

.slide__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide__text {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/*popular-goods*/

.popular-goods {
  display: flex;
  flex-direction: column;
}

.header-popular {
  display: flex;

  background-color: #f9f5f0;
}

.header-popular__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.header-popular__button {
  margin-top: auto;
  margin-right: 24px;
  margin-bottom: auto;
  margin-left: auto;
}

.popular-goods-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog-item {
  width: 218px;

  font-family: "Pt Sans", "Arial", sans-serif;
  font-weight: bold;

  border: 1px solid #eaeaea;
}

.catalog-item__img {

}

.catalog-item__title {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item__price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.catalog-item__old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}

/*popular-manufacturers*/

.popular-manufacturers {
  display: flex;
  flex-direction: column;
}

.popular-manufacturers-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popular-manufacturers-item {
  display: flex;
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

.popular-manufacturers-item__link {
  margin: auto;
}

/*services*/

.services {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-bottom: 82px;

  background-color: #f4f8f9;
}

.services-header__title {

}

.cuprum-large {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services-header__text {

}

.pt-sans-small {
  margin: 0;

  font-family: "Pt Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-bottom {
  display: flex;
}

.services-list {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.services-item {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.service-active {
  color: #32425c;

  background-color: #ffffff;
}

.services-slide__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

/*company-contaсts*/

.company-contaсts {
  display: flex;
}

.transport-companies-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
