body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}

.modal,
.warranty,
.credit {
  display: none;
}

.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-red {
  color: #ffffff;

  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

/*------------------Header------------------*/

.main-header {
  font-size: 17px;
  line-height: 17px;

  background-color: #f4f8f9;
}

.main-header-top {
  line-height: 18px;

  background-color: #293449;
}

.main-header-top a {
  color: #ffffff;
}

.main-header-top .bookmarks:hover,
.main-header-top .basket:hover {
  background-color: #212a3a;
}

.main-header-top .bookmarks:active,
.main-header-top .basket:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.main-header-top .checkout {
  background-color: #63a63e;
}

.main-header-top .checkout:hover {
  background-color: #5fbb2d;
}

.main-header-top .checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.main-header-middle h1 {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-number,
.user-navigation-authorization a,
.user-navigation-logined .user {
  font-size: 21px;
  line-height: 21px;
}

.phone-number {
  color: #ee3643;
}

.authorization-button,
.user-navigation-logined .user {
  color: #000000;

  background-color: #ffffff;
}

.personal-area a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.phone-number:hover {
  color: #ca2c37;
}

.phone-number:active {
  color: #ba2732;
}

.user-navigation-authorization a:hover,
.personal-area a:hover {
  color: #ee3643;
}

.user-navigation-authorization a:active,
.personal-area a:active,
.user-navigation-logined .user:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-middle .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-nav-list a {
  color: #ffffff;
  background-color: #32425c;
}

.main-nav-list a:hover {
  background-color: #293449;
}

.main-nav-list a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/*------------------Main------------------*/

/*advantages*/

.advantages-list h2 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.advantages-list a {
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.advantages-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.advantages-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-list .materials {
  background-color: #ffbf47;
}

.advantages-list .instruments {
  background-color: #3bbce3;
}

.advantages-list .equipment {
  background-color: #dc91d8;
}

.advantages-list .discounts {
  background-color: #8ed78f;
}

.advantages-list .delivery {
  background-color: #ffc047;
}

.advantages-bottom-slider h2 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-bottom-slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.advantages-bottom-slider .slider-1 {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
}

.advantages-bottom-slider .slider-2 {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
}

/*popular*/

.header-popular {
  background-color: #f9f5f0;
}

.header-popular h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-goods-item,
.catalog-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.popular-goods-item h4,
.catalog-item h4 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.popular-goods-item b,
.popular-goods-item del,
.catalog-item b,
.catalog-item del {
  font-size: 17px;
  line-height: 18px;
}

.popular-goods-item del,
.catalog-item del {
  color: #a9a9a9;
}

.popular-goods-item b,
.catalog-item b {
  color: #ffffff;

  background-color: #ee3643;
}

/*services*/

.services {
  background-color: #f4f8f9;
}

.services-top h2,
.company-contaсts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services p,
.company-contaсts p,
.about p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-list li {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.services-list li:nth-child(1) {
  color: #32425c;

  background-color: #ffffff;
}

.services-bottom-slider h2 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}
/*company-contaсts*/

.transport-companies-list {
  font-size: 18px;
  line-height: 20px;
}

/*------------------Footer------------------*/

.main-footer {
  background-color: #32425c;
}

.main-footer p,
.main-footer-nav a {
  color: #ffffff;
}

.main-footer-middle a,
.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-bottom {
  background-color: #293449;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer-top a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.main-footer-middle a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.feedback a:active,
.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

/*catalog.html*/

.catalog-header {
  background-color: #f4f8f9;
}

.catalog-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

/*breadcrumbs*/

.breadcrumbs,
.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}


/*
.filter,
.sort {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter h3,
.sort h3,
.sort a {
  font-size: 13px;
  line-height: 18px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter button {
  color: #000000;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #ee3643;
}

.sort .active {
  border-bottom: none;
}*/

.pagination a {
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.pagination .active {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination a:hover {
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #ee3643;
}

.about {
  background-color: #f4f8f9;
}

.about h3 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
